.footer {
  width: 350px;
}

span i {
  margin-right: 1vw;
}

.icons {
  display: flex;
  margin-bottom: 10px;
}

.icons > i {
  font-size: 30px;
  margin-right: 1.3vw;
}

.footer h2 {
  font-size: 31px;
}

.footer hr {
  width: 70%;
  margin: 10px 0px;
}

.address {
  width: 15vw;
}

.allFooters {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8vw;
  margin-bottom: 10vh;
}

.ourCompany {
  margin-top: 14px;
  width: 350px;
}

.ourCompany p {
  margin-top: 3vh;
  margin-left: 5px;
  color: orange;
}

.ourCompany i {
  font-size: 30px;
}

